<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Test System</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="" />
<!-- Facebook and Twitter integration -->
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<form action="/calculate" method="post">
<p>input room size</p>
width: <input type="text" name="width"  value="3">
height: <input type="text" name="height"  value="3"><br>
<p>input position</p>
positionX: <input type="text" name="positionX" value="0">
positionY: <input type="text" name="positionY" value="2">
direction: <input type="text" name="direction" value="W">
<br>
<p>input command</p>
<p>input text</p>
command: <input type="text" name="command" value="M,L,R,M,M,R,L,L">

<button type="submit">Submit</button>

</form>

</body>
</html>